<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceJedi" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:28438/ServiceJedi.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceJedi" contract="ServiceJediReference.IServiceJedi"
                name="BasicHttpBinding_IServiceJedi" />
        </client>
    </system.serviceModel>
</configuration>