<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceJedi" />
                <binding name="BasicHttpBinding_IServiceJedi1" />
                <binding name="BasicHttpBinding_IServiceJedi2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:28438/ServiceJedi.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceJedi" contract="ServiceJediReference.IServiceJedi"
                name="BasicHttpBinding_IServiceJedi" />
            <endpoint address="http://localhost:28438/ServiceJedi.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceJedi1" contract="ServiceReference1.IServiceJedi"
                name="BasicHttpBinding_IServiceJedi1" />
            <endpoint address="http://localhost:28438/ServiceJedi.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceJedi2" contract="ServiceReference2.IServiceJedi"
                name="BasicHttpBinding_IServiceJedi2" />
        </client>
    </system.serviceModel>
</configuration>