@{
    ViewBag.Title = "A Propos";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Ce projet a été réalisé dans le cadre du cours de Services Réseaux, enseigné en deuxième année à l'ISIMA, pour les filières 2 et 5.</p>
