@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    ISIMA<br />
    1, rue de la Chebarde<br />
    63178 Aubière CEDEX<br />
    <abbr title="Téléphone">Tél:</abbr>
    <a href="tel:+33473405000">(+33) 4 73 40 50 00 </a>
</address>

<h3>Réalisation</h3>
<address>
    <strong>Pierre Chevalier</strong> <a href="mailto:pierre.chevalier@poste.isima.fr">pierre.chevalier@poste.isima.fr</a> <br />
    <strong>Pierre-Loup Pissavy</strong>   <a href="mailto:pierre-loup.pissavy@poste.isima.fr">pierre-loup.pissavy@poste.isima.fr</a>
</address>