@model IEnumerable<SiteWebJediTournament.Models.CaracteristiqueModels>

@foreach (var c in Model)
{
    <div class="editor-field">
        @c.Nom
        @Html.CheckBox("templateId", new { @value = c.Id })
    </div>
}