<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BusinessLayer.Properties.Settings.bdd_jedi_tournamentConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\pierr\Dropbox\Cours\ISIMA\ZZ2\services_reseau\TP1-ServicesReseau\BaseDeDonnees\bdd_jedi_tournament.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>